{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block titulo %}Programación-AP{% endblock titulo %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel='stylesheet'
    type='text/css'>
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
    rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'blog:index' %}">Programación-AP</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:tecnologia' %}">Tecnología</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:programacion' %}">Programación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:actualidad' %}">Actualidad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:contacto' %}">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead"
    style="background-image: url({% block imagenFondo %}'{% static 'img/home-bg.jpg' %}'{% endblock imagenFondo %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>
              {% block tituloPrincipal %}
              Blog Programación-AP
              {% endblock tituloPrincipal %}
            </h2>
            <span class="subheading">
              {% block descripcion %}

              {% endblock descripcion %}
            </span>
            <br>
            <!-- barra busqueda -->
            {% block barraBusqueda %}
            <div class="container">
              <div class="row">
                <div class="col-md-12 search">
                  <form method="get">
                    <div id="custom-search-input">
                      <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="Buscar..." name="buscar"
                          value="{{ request.GET.buscar }}">
                        <span class="input-group-list">
                          <i class="icon icon-search">
                            <button type="submit" class="boton btn-success">Buscar</button>
                          </i>
                        </span>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {% endblock barraBusqueda %}


          </div>
        </div>
      </div>
    </div>
  </header>



  <!-- Main Content -->
  {% block body %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% if posts %}
        {% for post in posts %}
        <div class="post-preview">
          <a href="{% url 'blog:detalle_post' post.slug post.id  %}">
            <h2 class="post-title">
              {{ post.titulo }}
            </h2>
            <h3 class="post-subtitle">
              {{ post.descripcion }}
            </h3>
          </a>
          <p class="post-meta">Escrito por
            <a href="{% url 'blog:autor' post.autor.id  %}">
              {{ post.autor }}
            </a>
            el {{ post.fecha_creacion}}</p>
        </div>
        <hr>
        {% endfor %}
        {% else %}
        <h1>No hay posts registrados</h1>
        {% endif %}
      </div>
    </div>
  </div>
  {% endblock body %}

  <!-- Paginador -->
  {% block paginador %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="clearfix">
          {% if posts.has_previous %}
          <a class="btn btn-primary float-left"
            href="?page={{ posts.previous_page_number}} {% if request.GET.buscar %}&buscar={{ request.GET.buscar }} {% endif %}">&ShortLeftArrow;
            Anterior</a>
          {% endif %}

          {% if posts.has_next %}
          <a class="btn btn-primary float-right"
            href="?page={{ posts.next_page_number}} {% if request.GET.buscar %}&buscar={{ request.GET.buscar }} {% endif %}">Siguiente
            &ShortRightArrow;</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endblock paginador %}

    <hr>
    <br>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="{% block facebook %}www.facebook.com/DevAP{% endblock facebook %}">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="{% block twitter %}www.twitter.com/DevAP{% endblock twitter %}">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="{% block github %}www.github.com/DevAP{% endblock github %}">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Programación-AP 2019</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

</body>

</html>